body{
    background-color:royalblue;
    font-family:'Segoe UI',cursive,Tahoma,Verdana,sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#weather-container{
    background : rgba(255, 255, 255, 0.6);
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 225, 255, 0.6);
}

h2{
    font-family: 'Segoe UI',cursive,Tahoma,Verdana,sans-serif;
    color:aliceblue;
    text-align: center;
    margin: 20px 0;
}

input{
    width:calc(100% - 16px);
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgba(255, 225, 255, 0.9);
    margin-top: 10px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
button{
    background-color:dodgerblue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
    font-family: 'Segoe UI',cursive,Tahoma,Verdana,sans-serif;
    font-size: 20px;
}